    .filter__btn {
        @include text($Rubik, $white, 16, 400);
        line-height: 24px;
        padding: .5rem .5rem;

        i {
            padding-right: 5px;
        }

        &--orange {
            background: $orange;
        }

        &--green {
            background: $green;
        }
    }

    .show {
        &-all {
            @include text($Rubik, $green, 14, 400);
            background: #EDF6F1;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            line-height: 18px;
        }

        &-more {
            background: #EDF6F1;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 1.5rem 1rem;

            &__link {
                @include text($Rubik, $green, 14, 400);
                line-height: 18px;
                display: flex;
                justify-content: center;

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }
        }
    }

    .btn-block+.btn-block {
        margin-top: .5rem;
    }

    button {
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn-block {
        display: block;
        width: 100%;
    }