        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;

            &-header {
                padding: .75rem 1.25rem;
                border-bottom: 1px solid rgba(0, 0, 0, .125);

                &:first-child {
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                }

                &--white {
                    background: $white;
                }

                &__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .popover-icon {
                font-size: 18px;
                color: $green;
            }

            &-body {
                @include text($Rubik, $grey, 14, 400);
                line-height: 16px;
                padding: .75rem 1.25rem;

                .name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .time {
                    margin-top: .25rem;

                    i {
                        font-size: 7px;
                        position: relative;
                        top: -2px;
                    }



                    &--open {
                        color: $green;
                    }

                    &--closed {
                        color: $red;
                    }

                    &--wait {
                        color: $orange;
                    }
                }

                .action {
                   margin-top: .5rem;
                }
                .setting
                {
                   margin-top: .5rem;
                }

            }

            &-title {
                @include text($Rubik, $green, 16, 700);
                line-height: 24px;

                &--black {
                    color: $black;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            &-footer {
                @include text($Rubik, $black, 14);
                line-height: 24px;
                border-top: 1px solid rgba(0, 0, 0, .125);
                background: $white;
                padding: .75rem 1.25rem;

                &:last-child {
                    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
                }


                a {
                    color: $black;

                    &.disabled {
                        cursor: default;
                        text-decoration: none;
                        pointer-events: none;
                        color: $grey;
                    }
                }
            }
        }