        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: $white;
            background-clip: border-box;
            border: 1px solid $border-color-lighten;
            border-radius: .25rem;
            @extend %shadow;

            &__header {
                padding: .75rem 1rem;
                border-bottom: 1px solid $border-color-lighten;

                &:first-child {
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                }

                &-link {
                    &-icon {
                        font-size: 18px;
                        color: $green;
                    }
                }

                &_white {
                    background: $white;
                }

                &-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &-title {
                    @include text($Rubik, $green, 16, 700);
                    line-height: 24px;

                    &_black {
                        color: $black;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }




            &__body {
                @include text($Rubik, $grey, 14, 400);
                line-height: 16px;
                padding: .75rem 1rem;

                &-link {
                    &-icon {
                        font-size: 18px;
                        color: $green;
                    }
                }


                &-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }

                &-title {
                    @include text($Rubik, $green, 16, 700);
                    line-height: 24px;
                }

                &-time {
                    margin-top: .25rem;

                    &-icon {
                        font-size: 7px;
                        position: relative;
                        top: -2px;
                    }

                    &_open {
                        color: $green;
                    }

                    &_closed {
                        color: $red;
                    }

                    &_wait {
                        color: $orange;
                    }
                }

                &-action {
                    margin-top: .5rem;
                }
            }


            &__footer {
                @include text($Rubik, $black, 14);
                line-height: 24px;
                border-top: 1px solid $border-color-lighten;
                background: $white;
                padding: .75rem 1rem;

                &:last-child {
                    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
                }


                &-link {
                    color: $black;

                    &.disabled {
                        cursor: default;
                        text-decoration: none;
                        pointer-events: none;
                        color: $grey;
                    }
                }
            }
        }