.form-control {
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $border-color;
    box-shadow: none;
    border-right: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    outline: none;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $border-color;
        border-right: none;
    }
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    &-append {
        margin-left: -1px;
        display: flex;

        &__button {
            position: relative;
            z-index: 2;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: $white;
            border: 1px solid $border-color;
            border-left: none;
            display: block;
            line-height: 15px;
            padding: .375rem .75rem;

            &:before {
                display: inline-block;
                content: '';
                width: 16px;
                height: 16px;
                background: url(../images/icons/icon--search.png) 0 0 no-repeat;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}