    .list-group {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;


        &-item {
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, .125);

            &:first-child {
                border-color: $grey-regular;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
            }

            &:last-child {
                border-color: $grey-regular;
                margin-bottom: 0;
                border-bottom-right-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }

            &__title {
                @include text($Rubik, $black, 14, 500);
                line-height: 20px;

                span {
                    color: $grey;
                    font-weight: 400;
                    line-height: 20px;
                }
            }

            &__price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                line-height: 20px;

                span {
                    line-height: 16px;
                }

                &_base {
                    color: $light-grey;
                }

                &_reserve {
                    color: $green;
                    font-weight: 700;
                }

                &_econom {
                    color: $red;
                }
            }
        }
    }