.nav {
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
    }

    &__item {
        position: relative;
        padding: 0;
        text-transform: uppercase;
    }


    &__link {

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;

            &:hover {
                opacity: .9;
            }

            &:before {
                display: inline-block;
                content: '';
            }
        }
    }
}
