      .nav {
          &__list {
              display: flex;
              list-style: none;
              margin: 0;
          }

          &__item {
              position: relative;
              padding: 0;
              text-transform: uppercase;
          }


          &__link {

              .icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 15px;

                  &:before {
                      display: inline-block;
                      content: '';
                  }

                  &__login {

                      &:before {
                          width: 31px;
                          height: 31px;
                          background: url(../images/icons/icon--login.png) 0 0 no-repeat;
                      }
                  }

                  &__basket {

                      &:before {
                          width: 31px;
                          height: 31px;
                          background: url(../images/icons/icon--basket.png) 0 0 no-repeat;
                      }
                  }

                  &__bookmark {

                      &:before {
                          width: 31px;
                          height: 31px;
                          background: url(../images/icons/icon--bookmark.png) 0 0 no-repeat;
                      }
                  }
              }
          }
      }