.news {
    background: #f9f9f9;
        padding: 1rem;

    .shadow {
                box-shadow: 0 0 .5rem 0.1rem rgba(0, 0, 0, .15);
            }

    .card {
        &-title {
             @include text($Rubik, $black, 16, 700);
            line-height: 24px;
            padding: 1rem;;
            margin-bottom: 0;
        }
    }

    .article {
        font-family: Rubik;
        font-size: 14px;
        line-height: 16px;
        padding:0rem 1rem 1rem 1rem;


        &__title {}

        &__link {
            color: $green;
            font-size: 14px;
            line-height: 18px;
            display: block;


        }

        &__datetime {
            color: $grey;
        }

        &__content {
            color: $grey;
            padding:.5rem 0;
        }
    }
}