.pharmacy-block {
    .card {
        &-header {
            background: $white;

            &__title {
                color: $black;
                font-size: 18px;
            }
        }

        &-body {
            .btn {
                margin-top: .5rem;
            }
        }

        &-footer {
            padding: 0;
        }

        .all-pharmacy {
            padding-top: .5rem;

            a {
                color: $green;
            }
        }
    }
}