.pharmacy-block {
    .card {
        &__header {
            background: $white;

            &-title {
                color: $black;
                font-size: 18px;
            }
        }

        &__body {
            button {
                margin-top: .5rem;
            }
        }

        &__footer {
            padding: 0;
        }
    }

    .all-pharmacy {
        padding-top: .5rem;

        &__link {
            color: $green;
        }
    }
}