.product-order {
    &__title {
        @include text($Rubik, $white, 14, 500);
        border-radius: 5px 5px 0 0;
        line-height: 20px;
        background: $green;
        padding: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    &__description {
        font-weight: 400;
        line-height: 20px;
    }

    &__content {
        background: $white;
        padding: 1rem 1.75rem;
        @extend %shadow;
    }
}

.quantity {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_bold {
            @include text($Rubik, $black, 18, 700);
            line-height: 24px;
            margin: 0
        }
    }

    &__link {
        &-close {
            color: $black;
            opacity: 0.5;
            font-size: 1rem;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        &-group {
            line-height: 1.5;

            &-item {
                margin-bottom: .5rem;
                text-align: left;
                font-size: 1rem;

                &:first-child {
                    color: $light-grey;
                    text-align: right;
                }

                &_bold {
                    height: 32px;
                    line-height: 32px;
                    @include text($Rubik, $black, 14, 700);
                    text-align: right;
                }
            }
        }
    }
}

.number-spinner {
    &__input {
        @include text($Rubik, $black, 14, 700);
        height: 32px;
        width: 50px;
        line-height: 14px;
        border: 1px solid $border-color;
        border-right: none;
        border-left: none;
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }


    &__btn {
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &-controls {
            @include text($Rubik, $white, 14, 700);
            line-height: 24px;
            width: 32px;
            height: 32px;
            padding: 0;
            border-radius: 0;
            background: $orange;

            &_minus {
                border-radius: 3px 0 0 3px;
            }

            &_plus {
                border-radius: 0 3px 3px 0;
            }
        }
    }
}