.pharmacy-product {


    .products-price {
        &__list {
            margin: 1rem 0;
        }

        &__item {
            margin: 1rem;
            background: #f9f9f9;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: $white;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .5rem;
            @extend %shadow;

            .list-group {
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
            }

            .list-group-item {
                position: relative;
                display: block;
                padding: .75rem 1.25rem;
                margin-bottom: -1px;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, .125);

                &:first-child {
                    border-color: #dedede;
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                }

                &:last-child {
                    border-color: #dedede;
                    margin-bottom: 0;
                    border-bottom-right-radius: .25rem;
                    border-bottom-left-radius: .25rem;
                }

                &__title {
                    @include text($Rubik, $black, 14, 500);
                    line-height: 20px;

                    span {
                        color: $grey;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }

                &__price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    line-height: 20px;

                    span {
                        // @include text($Rubik, $black, 14, 400);
                        line-height: 16px;
                    }

                    &_base {
                        color: $light-grey;
                    }

                    &_reserve {
                        color: $green;
                        font-weight: 700;
                    }

                    &_econom {
                        color: $red;
                    }
                }
            }

            button {
                margin-top: .5rem;
            }
        }
    }

    .card {
        &-header {
            background: $white;
        }

        &-body {
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__title {
                font-weight: 400;
            }
        }

        .all-results {
            padding-bottom: 1rem;
            margin: 0;
            @include text($Rubik, $black, 15, 400);
        }

        &-title {
            font-weight: 400;
        }

        &-footer {
            padding: 0;
        }

        .back {
            @include text($Rubik, $green, 16, 400);
            line-height: 24px;

            &:before {
                display: inline-block;
                content: "";
                width: 10px;
                height: 10px;
                margin-right: 10px;
                background: url(../images/icons/icon--arrow-left.png) 0 0 no-repeat;

            }
        }

        .search {
            &__content {
                border-radius: 0 0 5px 5px;
            }

            &:after {
                border-bottom: none !important;
            }
        }
    }
}