// Custom brand colors 
$inverse:               #131e26;
$purple:                #7266ba;
$pink:                  #f532e5;
$yellow:                #fad732;
$green:                 #008739;
$white:					#fff;
$black:                 #000;
$orange:                #F5A623;
$light-grey:			#444;
$grey:					#888888;
$red:					#D0021B;

$bg-color:				#F9F9F9;

$link-color:			#008739;
$link-hover-color:      #00872F;

$primary:               #5d9cec;
$secondary:             #fff;
$success:               #27c24c;
$info:                  #23b7e5;
$warning:               #ff902b;
$danger:                #f05050;
$dark:                  #3a3f51;




//Fonts
$Rubik: 'Rubik', Arial, sans-serif;
